<!DOCTYPE html>
<html>
    <head>
        <style type="text/css">
        :root {
            --blue: #007d9c;
            --black: #000000;
        }
        body {
            font-family: "-apple-system","BlinkMacSystemFont","Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
            font-size: 90%;
        }
        a:hover {
            text-decoration: underline !important;
        }
        a, a:link, a:visited 
        {
            text-decoration: none; 
            decoration: none; 
            color: var(--blue);
        }
        a:visited.no-visited {
            color: var(--blue);
        }
        li {
          list-style-type: square;

        }
        li.article:not(:last-child) { 
            margin-bottom: 1rem;
        }
        .subtitle {
            font-size: 50%;
            font-variant-caps: small-caps;
            color: var(--black) !important;
        }
        </style>
    </head>
    <body>
    <h2>
        Bulletin for {{.BulletinEndDate}}
    </h2>
        {{.PeriodDays}} digest
        {{/* the index */}}
        <ul>
            {{range .Feeds}}
                <li>
                    <a href="#{{.Id}}" class="no-visited">{{.Title}}</a> ({{len (.Articles)}})
                </li>
            {{end}}
        </ul>

        {{/* articles */}}
        {{range .Feeds}}
                <h3 id="{{.Id}}">
                    <a href="{{.Url}}" class="no-visited">
                        {{.Title}}
                        <div class="subtitle">{{prettyUrl .Url}}</div>
                    </a>
                </h3>
            <ul>
            {{range .Articles}}
                <li class="article">
                    <a href="{{.Url}}">{{.Title}}</a>
                    {{if .Description}}
                        <div class="description">
                        {{.Description}}
                        </div>
                    {{end}}
                </li>
            {{end}}
            </ul>
        {{end}}
    </body>
</html>
