<!DOCTYPE html>
<html>
    <head>
        <style type="text/css">
        :root {
            --blue: #007d9c;
            --black: #000000;
        }
        body {
            font-family: "-apple-system","BlinkMacSystemFont","Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
            font-size: 90%;
        }
        a:hover {
            text-decoration: underline !important;
        }
        a, a:link, a:visited 
        {
            text-decoration: none; 
            decoration: none; 
            color: var(--blue);
        }
        a:visited.no-visited {
            color: var(--blue);
        }
        li {
          list-style-type: square;

        }
        li.article:not(:last-child) { 
            margin-bottom: 1rem;
        }
        .subtitle {
            font-size: 75%;
            color: var(--black) !important;
        }
        </style>
    </head>
    <body>
    <h2>
        Bulletin for {{.BulletinEndDate}}
    </h2>
        {{.PeriodDays}} digest
        {{/* the index */}}
        <ul>
            {{range .GroupedArticles}}
                {{with (index . 0)}}
                    <li>
                        <a href="#{{.Feed.Id}}" class="no-visited">{{.Feed.Title}}</a>
                    </li>
                {{end}}
            {{end}}
        </ul>

        {{/* articles */}}
        {{range .GroupedArticles}}
            {{with (index . 0)}}
                <h3 id="{{.Feed.Id}}">
                    <a href="{{.Feed.Url}}" class="no-visited">{{.Feed.Title}}</a><br/>
                    <a href="{{.Feed.Url}}" class="no-visited subtitle">{{.Feed.Url}}</a>
                </h3>
            {{end}}
            <ul>
            {{range .}}
                <li class="article">
                    <a href="{{.Url}}">{{.Title}}</a>
                    {{if .Description}}
                        <div class="description">
                        {{.Description}}
                        </div>
                    {{end}}
                </li>
            {{end}}
            </ul>
        {{end}}
    </body>
</html>
