<!DOCTYPE html>
<html>
    <head>
        <style type="text/css">
        :root {
            --blue: #007d9c;
        }
        body {
            font-family: "-apple-system","BlinkMacSystemFont","Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
        }
        a:hover {
            text-decoration: underline !important;
        }
        a, a:link, a:visited 
        {
            text-decoration: none; 
            decoration: none; 
            color: var(--blue);
        }
        a:visited.no-visited {
            color: var(--blue);
        }
        li {
          list-style-type: square;
        }
        </style>
    </head>
    <body>
    <h2>
        Bulletin for {{.BulletinEndDate}}
    </h2>
        {{.PeriodDays}} digest
        {{range .GroupedArticles}}
            <h3>
                <a href="{{(index . 0).Feed.Url}}" class="no-visited">{{(index . 0).Feed.Title}}</a>
            </h3>
            <ul>
            {{range .}}
                <li>
                    <a href="{{.Url}}">{{.Title}}</a> - {{articleDate .}}
                </li>
            {{end}}
            </ul>
        {{end}}
    </body>
</html>